<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de Usuarios</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <header><h1>Cadastro de Usuarios</h1></header>
        <div id="cadastro">
            <form name="f_cadastro" id="f_cadastro" method="post" action="cadastro.php">                
                <p>
                    <label for="nome">Nome:</label><br />
                    <input id="nome" type="text" name="nome" size="30"/>
                </p>
                <p>
                    <label for="login">Login:</label><br />
                    <input type="text" id="login" name="login" size="30" />
                </p>
                <p>
                    <label for="senha">Senha:</label><br />
                    <input type="password" id="Senha" name="senha" size="30" />
                </p>
                <p>
                    <label for="email">Email:</label><br />
                    <input type="text" id="email" name="email" size="30" />
                </p>
                <p>
                    <label for="nivel">Nivel:</label><br />
                    <input type="text" id="nivel" name="email" size="30" />
                </p>
                <p>
                    <input type="submit" />
                </p>
            </form>
        </div>
        <footer></footer>
    </body>
</html>
